 
 body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
}

 .all-card { 
    display: flex;
    font-size: 11px;
    max-width: 100%;
    width: 40rem;
    border-radius: 2%; 
    background-color: white;
} 

.all-card img{
    max-width: 50%;
    display: flex;
    border-end-start-radius: 2%;
    border-start-start-radius: 2%;
      
} 

.text-and-price {
    margin: 2rem;
}

.class-parfume {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    color: hsl(228, 12%, 48%)
           
}

.title-text {
    font-family: 'Fraunces', serif;
    font-size: 2.2rem    
}

.description-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: hsl(228, 12%, 48%)

}

.price-and-offert {
    display: flex;
    align-items: center;
    justify-content: start ;
    
}
.final-price {
    font-family: 'Fraunces', serif;
    font-size: 2.2rem;
    color: hsl(158, 36%, 37%);
    
}

.old-price {
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    font-size: 1rem;
    font-weight: 300;
    color: hsl(228, 12%, 48%)
    
}

.final-price, .old-price {
    margin-right:1.5rem;
}

.add-to-cart { 
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    background-color:hsl(158, 36%, 37%);
    cursor: pointer
       
      
}

.image-add-to-cart, .text-add-to-cart {
    margin-right: 1rem;
}

.add-to-cart:hover{
    background-color: hsl(157, 39%, 23%);
} 





@media only screen and (max-width: 375px) {
  

        .all-card { 
            display: block;
            width: auto;
            margin: 0.8rem;
            border-radius: 3%;
            padding-bottom: 15px;
        }

        .all-card img{
            max-width:100%;
              
        } 
    
        .image-product-desktop {
            
            content: url('./images/image-product-mobile.jpg');
            max-width: 100%;
            height: auto;
            border-start-start-radius: 3%;
            border-start-end-radius: 3%;
        }

        .title-text {
            margin-top: 0.1rem;
            font-family: 'Fraunces', serif;
            font-size: 1.8rem    
        }

        .description-text {
            font-size: 0.80rem;
                    
        }

        .final-price {
            margin-top: 0.1rem;
        }
        .old-price {
            margin-top: 0.0rem;
        }

       
}
